.login{
    position: relative;
    width: 70%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    overflow: hidden;
    color: var(--english-red);
}
.login form{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 20px 40px;
    justify-content: space-around;
    animation: slidein .5s forwards;
}
.login .email,.login .password{
    display: flex;
    flex-direction: column;
}
.login .image{
    position: relative;
    background: url('https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    flex-grow: 8;
    background-position: center;
}
.login label{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    margin-left:30px ;
}
.login .image::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.253));
}
.login h1{
    position: relative;
    font-family: 'Josefin Slab', serif;
    color: #2a2a28;
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 15px;
}
.login h1::after{
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    background: #2a2a28;
    width: 20%;
    height: 3px;
    border-radius: 40px;
}
.login input{
    height: 60px;
    border-radius: 50px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.295);
}
.login form button{
    position: relative;
    padding: 30px;
    width: 35%;
    text-align: center;
    margin: 20px 0;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    color: black;
    outline: none;
    border-radius: 50px;
    border: none;
}
.login form button::after{
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: -100%;
    height: 105%;
    background-color: #2a2a28;
    transition: .5s;
}
.login form button:hover::after{
    left: 0;
    z-index: 1;
}
.login button span{
    position: relative;
    z-index: 2;
}
.login button:hover span{
    color: white;
}
.login .buttons {
    display: flex;
    justify-content: space-around;
}
.login .buttons button:nth-child(2){
    transform: scale(.7);
    background-color: #2a2a28;
    color: white;
}
.log .heading{
    position: relative;
    top: 18%;
    left: 50%;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    color: #2a2a28;

}
.heading::after{
    content: '';
    position: absolute;
    top: 120%;
    left: 50px;
    background: #2a2a28;
    width: 30px;
    height: 3px;
    border-radius: 40px;
}
@keyframes slidein{
    from{
        transform: translateX(100%) ;
    }
    to{
        transform: translateX(0) ;
    }
}