.main-quote{
    position: relative;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1568379526322-93aaea829725?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    height: 400px;
    background-position: center;
    background-size: cover;
    padding: 90px;

}
.main-quote > .top{
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: serif;
    margin-bottom: 20px;
}
.main-quote > .desc{
    background-clip: red;
    width: 40%;
    font-size: 30px;
    line-height: 40px;
    font-family: Cantarell;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}